body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
}

.card h2 {
  margin: 0;
  color: #333333;
}

.card p {
  color: #666666;
}

.dashboard {
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-x: auto;
  margin-top: 1600px;
}

h1 {
  text-align: center;
  color: #333333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #5eb8ce;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
  }

  h1 {
    font-size: 24px;
  }
}
